body{
background: #c4c9d1;
}
#gifButtonsView{
  float: left;
  width: 60%;

}
.myForm{
 float: left;
 width: 20%;
}
.myJumbotron{
background: url("../assets/images/pink.png");
font-family: 'Jua', sans-serif;
text-align: center;
color: white;
font-size: 150%;

 }
 .action{
  margin-bottom: 5px;
  background: #d60288;
border: solid gray; }

#addGif{
  border: solid gray; 
  background: #d60288;
}